[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = "*"
boto3 = "*"
flask = "*"
werkzeug = "*"
beautifulsoup4 = "*"
bs4 = "*"
selenium = "*"
requests = "*"
serverless-wsgi = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.10"
